<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parkro.server.domain.parkinglot.mapper.ParkingLotMapper">
    <select id="selectParkingLots" parameterType="Integer" resultType="GetParkingLotRes">
        <![CDATA[
        SELECT
            name AS name,
            address AS address,
            latitude AS latitude,
            longitude AS longitude,
            is_internal AS isInternal,
            total_spaces AS totalSpaces,
            used_spaces AS usedSpaces
        FROM
            parking_lot
        WHERE
            store_id = #{store}
        ]]>
    </select>

    <!-- 주차장 잔여 좌석 수 조절 -->
    <update id="updateUsedSpaces" parameterType="Map">
        <![CDATA[
        UPDATE parking_lot
        SET used_spaces = used_spaces + #{cnt}
        WHERE parking_lot_id = #{parkingLotId}
        ]]>
    </update>
</mapper>