<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parkro.server.domain.parking.mapper.ParkingMapper">
    <select id="selectParkingByParkingId" resultType="GetParkingRes" parameterType="Integer">
        <![CDATA[
            SELECT parking_id AS parkingId,
                   parking_lot_id AS parkingLotId,
                   member_id AS memberId,
                   car_number AS carNumber,
                   entrance_date AS entranceDate,
                   exit_date AS exitDate,
                   status
            FROM parking
            WHERE parking_id = #{parkingId}
        ]]>
    </select>

    <update id="updateParkingStatus" parameterType="Integer">
        <![CDATA[
        UPDATE parking
        SET
            status = 'ENTRANCE'
        WHERE parking_id = #{parkingId}
        ]]>
    </update>
</mapper>