<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parkro.server.domain.receipt.mapper.ReceiptMapper">

    <insert id="insertReceipt" parameterType="PostReceiptReq">
        <![CDATA[
            INSERT INTO receipt(receipt_id, store_id, total_price, created_date)
            VALUES (#{receiptId}, #{storeId}, #{totalPrice}, CURRENT_TIMESTAMP)
        ]]>
    </insert>

    <select id="selectReceipt" parameterType="Integer" resultType="GetReceiptRes">
        <![CDATA[
            SELECT receipt_id AS receiptId, store_id AS storeId, total_price AS totalPrice, status, created_date AS createdDate
            FROM receipt
            WHERE receipt_id = #{receiptId} AND status = 'ACTIVE'
        ]]>
    </select>
</mapper>