<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    파일명 : CouponMapper.xml
    설  명 : 사용자 쿠폰

    == 개정이력 ========================================
    수정일         수정자     수정내용
    ==========   =======   ================================
    2024.07.30   양재혁      최초 생성
    2024.07.30   양재혁      현재 발급 가능한 쿠폰 리스트 조회
    2024.07.30   양재혁      쿠폰 등록
    2024.07.30   양재혁      활성화된 멤버 쿠폰 모두 비활성화로 업데이트
    2024.08.03   김지수      쿠폰 상태 변경 (ACTIVE -> USED)
-->
<mapper namespace="com.parkro.server.domain.coupon.mapper.CouponMapper">

    <!-- 쿠폰 상태 변경 (ACTIVE -> USED) -->
    <update id="updateCouponStatus" parameterType="Integer">
        <![CDATA[
        UPDATE
            member_coupon
        SET status = 'USED'
        WHERE member_coupon_id = #{memberCouponId, jdbcType=INTEGER}
        ]]>
    </update>

    <!-- 현재 발급 가능한 쿠폰 리스트 조회 -->
    <select id="selectCouponIdByDate" parameterType="java.util.Date" resultType="Integer">
       <![CDATA[
        SELECT coupon_id
        FROM coupon
        WHERE end_date >= #{now}
          AND created_date <= #{now}
        ]]>
    </select>

    <!-- 쿠폰 등록 -->
    <insert id="insertCoupons" parameterType="PostMemberCouponReq">
    <![CDATA[
        BEGIN
            FOR I IN 1..2
                LOOP
                    INSERT INTO member_coupon (member_coupon_id, member_id, coupon_id, parking_lot_id, status,
                                               created_date, used_date)
                    VALUES (member_coupon_seq.nextval, #{memberId}, #{couponId}, NULL, 'ACTIVE', CURRENT_TIMESTAMP,
                            NULL);
                END LOOP;
        END;
        ]]>
</insert>

    <!-- 활성화된 멤버 쿠폰 모두 비활성화로 업데이트 -->
    <update id="deleteCoupons" parameterType="Integer">
    <![CDATA[
        UPDATE member_coupon
        SET status = 'INACTIVE'
        WHERE #{memberId} = member_id
          AND status = 'ACTIVE'
        ]]>

    </update>


</mapper>
