<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parkro.server.domain.member.mapper.MemberMapper">

    <select id="selectMemberName" parameterType="String" resultType="PostMemberReq">
        <![CDATA[
        SELECT username, password, role
        FROM member
        WHERE username = #{username}
        ]]>
    </select>

    <insert id="insertMember" parameterType="PostMemberReq" useGeneratedKeys="true" keyProperty="memberId" keyColumn="member_id">
    <![CDATA[
        INSERT INTO member (member_id, username, password, nickname, phone_number, car_number, profile_car, created_date, role)
        VALUES (member_seq.NEXTVAL, #{username}, #{password}, #{nickname}, #{phoneNumber},
                #{carNumber,jdbcType=VARCHAR},
                1, CURRENT_TIMESTAMP, 'ROLE_USER')
        ]]>
</insert>

    <update id="updateCarNumber" parameterType="PostMemberReq">
        <![CDATA[
        UPDATE member
        SET car_number = #{carNumber}
        WHERE car_number IS NULL AND status = 'ACTIVE' AND member_id = #{memberId}
        ]]>
    </update>

    <update id="deleteMember" parameterType="String">
    <![CDATA[
        UPDATE member
        SET deleted_date = CURRENT_TIMESTAMP,
            status = 'INACTIVE'
        WHERE username = #{username}
          AND deleted_date IS NULL
          AND status = 'ACTIVE'
        ]]>
    </update>

    <select id="selectMemberByUsername" parameterType="String" resultType="GetMemberRes">
        <![CDATA[
            SELECT member_id AS memberId, username, password, nickname, phone_number AS phoneNumber, role, car_number AS carNumber, profile_car AS profileCar, status, created_date AS createdDate, deleted_date AS deletedDate, fcm_token AS fcmToken
            FROM member
            where username = #{username} AND status = 'ACTIVE'
        ]]>
    </select>

    <select id="selectMemberByCarNumber" parameterType="String" resultType="GetMemberRes">
        <![CDATA[
        SELECT member_id AS memberId, username, password, nickname, phone_number AS phoneNumber, role, car_number AS carNumber, profile_car AS profileCar, status, created_date AS createdDate, deleted_date AS deletedDate, fcm_token AS fcmToken
        FROM member
        WHERE car_number = #{carNumber} AND status = 'ACTIVE'
        ]]>
    </select>

    <update id="updateMemberDetails" parameterType="PutMemberReq">
    <![CDATA[
        UPDATE member
        SET password = #{password}, nickname = #{nickname}, phone_number = #{phoneNumber}
        WHERE username = #{username}
        AND deleted_date IS NULL
        AND status = 'ACTIVE'
        ]]>
</update>

    <update id="deleteCarNumber" parameterType="String">
        <![CDATA[
        UPDATE member
        SET car_number = NULL
        WHERE username = #{username}
          AND deleted_date IS NULL
          AND status = 'ACTIVE'
        ]]>
    </update>

    <update id="updateFCM" parameterType="PostMemberReq">
    <![CDATA[
        UPDATE member
        SET fcm_token = #{fcmToken, jdbcType=VARCHAR}
        WHERE username = #{username}
          AND deleted_date IS NULL
          AND status = 'ACTIVE'
        ]]>
</update>
    
    <select id="countPhoneNumber" parameterType="String" resultType="Integer">
        SELECT COUNT(phone_number) FROM member WHERE phone_number = #{phoneNumber}
    </select>

    <select id="countCarNumber" parameterType="String" resultType="Integer">
        SELECT COUNT(car_number) FROM member WHERE car_number = #{carNumber, jdbcType = VARCHAR}
    </select>

</mapper>