<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.parkro.server.domain.payment.mapper.PaymentMapper">

    <select id="selectMemberCoupons" parameterType="Integer" resultType="GetPaymentCouponRes">
        <![CDATA[
            SELECT
                mc.member_coupon_id AS memberCouponId,
                mc.coupon_id AS couponId,
                mc.parking_lot_id AS parkingLotId,
                mc.status AS status,
                mc.created_date AS createdDate,
                c.discount_hour AS discountHour,
                c.end_date AS endDate
            FROM
                member_coupon mc
                    INNER JOIN coupon c ON mc.coupon_id = c.coupon_id
            WHERE
                mc.member_id = #{memberId}
              AND mc.used_date IS NULL
              AND mc.status = 'ACTIVE'
        ]]>
    </select>
</mapper>